@page
@model IndexModel
@{
	ViewData["Title"] = "News feed";
}

@foreach (var news in Model.News)
{
	<div class="card">
		<div class="card-group">
			<img class="card-img-top" />
			<p class="card-title">
				@news.Title
			</p><br />
			<p class="card-body">
				@news.Description
			</p><br />
			<p class="card-body">
				@news.PubDate
			</p>
		</div>
	</div>
}