@page
@model IndexModel
@{
    ViewData["Title"] = "News feed";
}

<div class="text-center">
    <h1 class="display-4">News Feed</h1>
    <h5 class="display-4">World wide</h5>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
